body {
  font-family: "Raleway";
  text-align: center;
  margin: 0;
  background-color: #F3EEDE;
}

.header {
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  margin-bottom: 0;
}

.header h1 {
  color: white;
  margin-bottom: 0;
}

.menu {
  width: 60%;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 1em;
  font-size: 1em;
}

.backgroundImage {
  width: 4.5em;
  height: 3.2em;
}

select {
  font-size: 15px;
  width: 7em;
  height: 3.5em;
  border: 1px solid #bfb9b9;
}

.stories {
  height: 100vh;
  padding-left: 1.8em;
  padding-right: 1.8em;
  margin-top: 10em;
  margin-bottom: 5em;
}

h3>a {
  color: #1c286d;
  text-decoration: none;
}

h3>a:hover {
  color: #344bcb;
}

.storyBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
  border-bottom: #979595 dashed 0.1em;
}

.storyBlock>h3 {
  margin: 0.5em auto;
}

.storySummary {
  display: none;
}

.storyBlock img {
  width: 90%;
  box-shadow: 5px 5px 1px #888888;
}

@media (min-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    align-self: flex-end;
    width: 20%;
    margin: 1em auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 1em;
    font-size: 1em;
  }
  .backgroundImage {
    width: 5em;
    height: 4em;
  }
  header>h1 {
    padding-left: 0.5em;
    font-size: 3em;
  }
  .storyBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-right: 3em;
  }
  h3>a {
    font-size: 1.6em;
    color: #1c286d;
    text-decoration: none;
  }
  h3>a:hover {
    color: #344bcb;
  }
  .storyBlock img {
    margin-top: 1em;
    width: 30%;
    align-self: center;
  }
  .storySummary {
    display: inherit;
  }
}
